@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400&family=Work+Sans:wght@900&display=swap');

.title{
    text-align: center;
    padding:20px 0;
    font-size: 3rem; 
    font-family: 'Work Sans';
    text-transform: uppercase;
    color: #0000ff
}

.subtitle{
    margin-bottom: 20px;
    font-family: 'Work Sans';
    text-transform: uppercase;
}

.div-form{
    padding: 20px 0;
}


// Path: cp01/src/assets/Global.scss